.f-container{
    width: 100%;
    height: 60vh;
    background-color: #34353D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 30px 0 0 ;
}

.card-mini{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card h1{
    color: white;
}

.card p {
    color: grey;
}

.card img {
    width: 100px;
    height: 20px;
}