nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding-top: 20px;
    text-align: center;
    color: rgba(34, 34, 34, 1);
}
nav ul li{
    font-size: 14px;
    font-weight: 700;
}
.pen{
    color: rgba(192, 192, 192, 1);
    font-size: 12px;
    font-weight: 500;
}
.btn{
    padding: 12px 55px;
    border-radius: 5px;
    background-color: rgba(226, 174, 128, 1);
    border: none;
    color: white;
}
.spal{
    background-image: url(../assets/spalniy.png);
    width: 90%;
    height: 585px;
    border-radius: 60px;
    margin-left: 6%;
    margin-top: 40px;
    background-repeat: no-repeat;
}
.text{
    text-align: center;
    color: white;
}
.text h1{
    font-size: 42px;
    font-weight: 400;
    padding-top: 73px;
}
.text h1 span{
    color: rgba(204, 152, 114, 1);
    line-height: 125%;
}
.M{
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 55px;
}
.btn2{
    background-color: transparent;
    border: 2px solid rgba(226, 174, 128, 1);
}
.but{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 55px;
}