.matn h1{
    font-size: 36px;
    font-weight: 400;
    color: rgba(34, 34, 34, 1);
}
.matn h1 span{
    color: rgba(172, 160, 149, 1);
    margin-left: 50px;
}
.matn button{
    padding: 21px 44px;
    background: transparent;
    border: 2px solid rgba(216, 164, 122, 1);
    border-radius: 5px;
    height: min-content;
}
.matn{
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 80px;
}